streamlit==1.21.0
pandas==1.5.3
numpy==2.1.1
protobuf==3.20.3
altair==4.2.2
click==8.0.0
pydantic==2.9.1
groq==0.11.0
pyarrow==17.0.0
pympler==1.1
python-docx==1.1.2
pytz==2024.2
python-dateutil==2.9.0
requests==2.32.3
lxml==5.3.0
rich==13.8.1
seaborn==0.13.2
watchdog==5.0.2
